*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scanner{
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}
.scanner-option{
    display: flex;
    flex-direction: column;
}
.camera-scan{
    margin:10px;
    padding: 60px;
    height: 5rem;
    border-radius: 40px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(47, 47, 47);
}
.camera-scan:hover{
    /* #545c5f */
        background: #545c5f;
        border: none;
        color: rgb(255, 255, 255);
      
}

.upload{
    margin: 10px;
    background: #ffffff;
    border-radius: 40px;
    font-size:1.5rem ;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload:hover{
    /* #545c5f */
        background: #545c5f;
        border: none;
        color: rgb(255, 255, 255);
      
}

.result-div{
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.result{
    color: #ffffff;
    font-size:1.2rem;

}
.result-rescan{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 25px;
}

.rescan{
    background: #000;
    margin-top: 10px;
    padding: 10px;
    width:50%;
    color: white;

}